.article_head {
    height: 1.46667rem;
}

.article_head ul {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    display: flex;
    height: 0.93327rem;
    padding: .26667rem .5rem;
}

.middle {
    width: 75%;
}

.article_head ul li {
    display: flex;
    align-items: center;
}

.user_avatar {
    display: flex;
    align-items: center;
}

.user_avatar img {
    height: .74667rem;
}

.van-search {
    padding: 0;
    margin: 0 .32rem;
    width: 100%;
}

.van-search__content {
    border-radius: .4rem;
}

.article_head .right {
    float: right;
}

.van-swipe-item img {
    border-radius: .3rem;
    width: 95%!important;
    height: 3rem;
    margin: 0 auto;
    display: block;
}

.van-ellipsis div div {
    font-size: .34rem;
}

.article_index_top {
    background: #fff;
}

.article_index_central {
    background: #fff;
    padding: 0 0.21333rem;
}

.van-grid-item__content::after {
    border: none!important;
}

.van-grid-item__content img {
    width: 45%!important;
}

.van-grid-item__text {
    color: #979a9a;
    font-size: .3rem;
}

.title {
    font-size: .4rem;
    font-weight: 600;
}

.description,
.link-title,
.detail {
    font-size: .3rem!important;
}

.link-title {
    color: red;
}

.share {
    float: right;
}

.detail {
    padding-top: .3rem!important;
    padding-bottom: 0.26667rem!important;
}

.van-grid-item__content img {
    height: auto!important;
}

.pay_content_test {
    background: #fff;
    padding: .3rem .5rem;
}

.info .title {
    font-size: .5rem;
    padding-bottom: .1rem!important;
}

.content p {
    text-indent: 2em;
}